<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xttdr.mapper.DoExamMapper">
    <select id="getDoExamByExamId" resultType="com.xttdr.entity.DoExam">
        select *
        from doexam
        where exam_id = #{id}
    </select>
    <select id="getDoExamByUserId" resultType="com.xttdr.entity.DoExam">
        select * from problem
        where problem_id in (
            select problem_id from paper
            where id = #{id}
        )
    </select>
    <select id="getExamByUser" resultType="com.xttdr.entity.Exam">
        select * from exam
        where exam_id in (
            select exam_id from doexam
            where id = #{id}
        )
    </select>
    <select id="getAnswer" resultType="String">
        select answer
        from paper a left join problem b on a.problem_id = b.problem_id
        where exam_id = #{examId}
    </select>
    <select id="getAverageScore" resultType="Double">
        select avg(score)
        from doexam
        where id = #{id}
    </select>
</mapper>